.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black ;
    border-radius: 5px ;
    padding: 5px;
    background-color: yellow;
}
.header > img{
    width: 100px;
}
ul{
    display: flex;
}
ul > li{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-size: xx-large;
    cursor: pointer;
    gap: 20px;
    color: rgb(195, 46, 46);
}
li link{
    
    color: black;
}

.logo {
    width: 100px;
    height: auto;
}
.header > button{
    margin-left: auto;
}

button {
    
    cursor: pointer;
}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid black ;
    border-radius: 5px ;
    padding: 2px;
    margin: 2px;
    margin-top: 50px;

}
.card > img{
    width: 100%;
    height: 50%;
}
.resturantlist{
    display: flex;
    justify-content: space-around;
}
.searchcontainer{
    margin-top: 20px;
}
.Shimmer-card{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 20px;
}
.footer{
    margin-top: 15px;
    background-color: rgb(255, 0, 0);
    border: 1px solid black ;
    border-radius: 5px ;
    padding: 5px;
    height: 80px;
}